body{
  background-color: black;
}
button{
  margin-left: 700px;
  margin-top: 300px;
  padding: 20px;
  border: 15px solid;
  border-color: #FFF338;
  background-color: black;
  color: #FFF338;
}
button:hover{
  color:#FF7600;
  border-color: #FF7600;

}
